<!--[*]
[var=meta_title][/var][var=meta_keys][/var][var=meta_desc][/var]
[ph=sys:meta_title][/ph][ph=sys:meta_keys][/ph][ph=sys:meta_desc][/ph]

[bkvar=js][/bkvar]


[mod=sys]jsvar[/mod]
[mod=rss]meta[/mod]

[var=version][/var]
[var=jsyui][/var]

[mod=sitemap]breadcrumb,header,footer,cecutientcss,referuseful[/mod]
[mod=news]newsblock[/mod]
[mod=feedback]templates,index[/mod]

[mcss=sys]widget.css[/mcss] // Будет удалет. Оставлен для совместимости

[*]--><!DOCTYPE html>
<html lang="ru" class="yui3-loading">
<head>
    <title>[var]meta_title[/var]</title>
    <meta name="keywords" content="[var]meta_keys[/var]">
    <meta name="description" content="[var]meta_desc[/var]">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    [mod]sys:jsvar[/mod]

    <link href="/vendor/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="/tt/[bkvar]ttowner[/bkvar]/css/main.css?v=0.1.0" type="text/css" rel="stylesheet"/>
	<script src="/gzip.php?base=/vendor&v=[var]version[/var]&file=jquery/jquery.min.js,bootstrap/js/bootstrap.min.js"></script>
    
    [mod]sitemap:cecutientcss[/mod]

    [bkvar]js[/bkvar]

    <link rel="stylesheet" href="/tt/[bkvar]ttowner[/bkvar]/css/override.css?v=0.1.0" type="text/css"/>
    <link rel="shortcut icon" href="/tt/[bkvar]ttowner[/bkvar]/i/favicon.ico" type="image/x-icon">

    [mod]rss:meta[/mod]

</head>
<body>
<div id="edu">
	 <header>
       [mod]sitemap:header[/mod]
    </header>
	
    <div id="bodyedu" class="container">
	        <div class="container main-content">
	            <div class="row">
	                <div class="col-md-9 content-edu">
	                    [mod]sitemap:breadcrumb[/mod]
	                    [tt]content[/tt]
	                </div>
	                <div class="col-md-3">
	                    <div class="sidebar">
	                        <div class="sidebaritem">
	                       		[mod]news:newsblock[/mod]
	                        </div>
	                        <div class="sidebaritem">
	  							[mod]sitemap:referuseful[/mod]
	                        </div>
	                        <div class="sidebaritem">
		  						<div class="panel panel-default">
	    			          		<div class="panel-heading">
	              						<h4>Обратная связь</h4>
	              					</div>
		                        	<div class="panel-body"> 
		                        		<p>Чтобы оставить сообщение администрации сайта, воспользуйтесь онлайн формой</p>
				                          <a href="#" data-toggle="modal" data-target="#questionCallbackDialog"
				                           class="btn btn-success mybutton">
				                            Отправить нам свой вопрос
				                        </a>
		                        	</div>
	            				</div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	       </div>
    </div>
	<footer itemscope itemtype="http://schema.org/WPFooter">
 		[mod]sitemap:footer[/mod]
    </footer>
</div>

<div id="questionCallbackDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    Отправить нам свой вопрос
                </h4>
            </div>
            <div class="modal-body">
  				[mod]feedback:index[/mod]
            </div>
        </div>
    </div>
</div>
</body>
</html>